<div class="login-container">
    <img class="film" src="assets/images/image.jpg" alt="" />
    <div class="logo"> Damola Opensky Airlines</div>
    <div class="desc">
      Lagos in Nigeria has many beautiful beaches and must-see attractions. 
      You should visit Lagos’ Jankara Market in Idumota (Lagos Island).
      This popular local market has long-standing reputation as one of the most popular markets which survived almost 40 years offering herbs,
       poultry, food, clothing, craftwork and many other local products among Ojo Giwa and Idumagbo streets.
      You should bear in mind that currently Nigeria is not considered a safe country. Be extremely cautious. 
    </div>
    <div class="login-form">
      <div class="form-group">
        <label for="uname">Username</label>
        <input
          type="text"
          name="uname"
          placeholder="Type your username"
          class="form-control"
          [(ngModel)]="username"
        />
      </div>
      <div class="form-group">
        <label for="pword">Password</label>
        <input
          type="password"
          name="pword"
          placeholder="Type your password"
          class="form-control"
          [(ngModel)]="password"
        />
      </div>
      <div class="btn-container">
        <div class="error">{{ errorMsg }}</div>
        <button class="btn " (click)="login()">Login</button>
      </div>
    </div>
  </div>
  

