* {
    margin: 0;
    box-sizing: border-box;  
  
}

.login-container {
    height: 700px;
    background-image: url(/src/assets/images/image.jpg);
    background-size: cover; 
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .logo {
      font-size: 70px;
      font-weight: bold;
      font-family: 'Lora', serif;
      letter-spacing: 10px;
      position: absolute;
      top: 50px;
      right: 50px;
    }
    .desc {
      font-size: 34px;
      font-family: 'Lora', serif;
      letter-spacing: 5px;
      position: absolute;
      top: 200px;
      right: 50px;
      text-align: right;
      width: 1200px;
    }
    .film {
      position: absolute;
      // top: 50px;
      // left: 50px;
      // width: 618px;
    }
    .login-form {
      background-color: white;
      width: 30em;
      height: 35em;
      position: relative;
      border-radius: 1em;
      box-shadow: 0 0.188em 1.550em rgb(100, 156, 156);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      
      input {
        border: none;
        background-color: rgb(229, 226, 226);
        height: 4em;
        width: 100%;
        border-radius: 0.25em;
        text-align: center;
        padding: 2em;
       }
      
       input:focus {
        outline-color: rgb(32, 117, 225);
       }
      
      label {
        font-weight: bold;
      }
      .btn-container {
        width: 40%;
        height: 3em;
        background-color: rgb(32, 177, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        border-radius: 0.25rem;
        cursor: pointer;
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .error {
          position: absolute;
          top: 32px;
          right: 0px;
          color: red;
        }
      }
    }
  
    /* -------------------- TABLET OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 37em) {
  .login-container {
      font-size: 1em;
  }

  .login-form {
      width: 60%;
      height: 70%;
  }
}

/* -------------------- DESKTOP OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 64em) {
  .login-container {
      font-size: 1.25em;
  }

  .login-form {
      width: 25%;
      height: 65%;
  }
}
